  
.menuContainer--accountOptions .styledLink{
    font-size: 12px;
}

.menuContainer--accountOptions .styledLinkContainer{
    padding: 10px 0px 0px;
}

.menuContainerNav--topMenu .styledLink{
    color: #fff;
    font-weight: bold;
}

.menuContainer--whiteColor .styledLink{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}

.styledLinkContainer--whiteColor{
    margin: 0px 13px;
}

.styledLink--footerMenu{
    color: #fff;
}

.submenuWrapper{
    width: 100%;
}

.styledLinkContent--mainSubmenu{
    color: #000;
}